#conteinerflex {
    display: flex;
    background-color: blue;
    flex-direction: row;
    justify-content: space-evenly;/*center */
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
}

#conteinerflex div {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
   
/*text-align; center;
line- height: 50px;/*

